/*Media Query*/
@media screen and (max-width: 768px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .header-image, .main-nav {
    max-width: fit-content;
    
  }
}

/*Grid Layout*/
.wrapper, h1, h2 {
  display: grid;
  text-align: center;
}

h1, h2 {
  font-family: "Lucida Handwriting", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: palevioletred;
}

.wrapper {
  font-family: "Sans Serif";
}

body {
  text-align: center;
}

/*Art Gallery Styles*/
* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: center;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #ff7b7b;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #f9acc2;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Main-Nav Styling*/
.main-nav {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f9acc2;
  color: #fff;
  
  }
  
  .nav-links a {
  color: #fff;
  }
  
  /* Logo */
  .logo {
  font-size: 32px;
  }
  
  /* Main-Nav Menu */
  .main-nav {
  display: flex;
  gap: 10em;
  font-size: 18px;
  }
  
  .menu li:hover {
  background-color: #f9acc2;
  border-radius: 5px;
  transition: 0.3s ease;
  }
  
  .menu li {
  padding: 5px 14px;
  }
  
  /* Dropdown Menu We Ain't Rly Usin */
  .services {
  position: relative;
  }
  
  .dropdown {
  background-color: #f9acc2;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  }
  
  .dropdown li + li {
  margin-top: 10px;
  }
  
  .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
  }
  
  .dropdown li:hover {
  background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
  display: block;
  }

  /*Make Main-Nav Work as Intended*/
  input[type=checkbox]{
    display: none;
    }
    
    /*HAMBURGER MENU*/
    
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }
    
    /* Another Media Query That Putting @ the Top W/The Other Seems to Break FSR, */
    
    @media (max-width: 768px) {
    
    .menu {
    display:none;
    position: sticky;
    background-color:#f9acc2;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    }
    
    .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
    }
    
    .menu li + li {
    margin-top: 12px;
    }
    
    input[type=checkbox]:checked ~ .menu{
    display: block;
    }
    
    .hamburger {
    display: block;
    }
    
    .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    }
    
    .dropdown li:hover {
    background-color: #4c9e9e;
    }
    
    }
  /* Background Styling*/
  html {
    background-image: url("img/whipbg.jpg");
  background-repeat: repeat;
  }

  /*Header IMG Styling*/
  img {
    width: 800px%;
    height: auto;
    padding: 0%;
    max-width: 700px;
  }

/* Footer*/
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
  text-align: center;
}


.button {
  border-radius: 10px;
  transition-duration: 1s;
  padding: 14px 40px;
}
.button:hover {
  background-color: #ff7b7b
}

.main-homepage {
  text-align: center;
  padding: 0;
}

